* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/images/backgroundpage.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.divbox {
  background-color: rgb(248, 250, 255);
  box-shadow: 10px 30px 90px rgba(39, 70, 199, .1);
  border-radius: 2rem;
}

.nav-div-top {
  height: 100px;
  background-color: transparent;
  margin-bottom: 20px;
}

.img-logo {
  width: 100px;
  height: 100px;
  margin: 20px;
}

.div-money {
  margin: 10px 10px 10px 10px;
  padding: 20px 30px 0 30px;
}

.input-change {
  box-shadow: 10px 30px 90px rgba(39, 70, 199, .1);
  border-radius: 10px;
  outline: none;
}

.iconFlag {
  width: 30px;
  height: 30px;
}

.bg-blue {
  color: rgb(72, 98, 214);
}

.bg-green {
  color: rgba(47, 87, 6, 0.822);
  font-weight: bold;
}